body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  line-height: 24px;
  color: #494b4c;
  font-size: 14px;
  font-family: 'Josefin+Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  background-image: url(../images/oil.jpg) !important;
}
h2 {
  font-weight: 400;
  margin: 0;
  color: #ffffff;
  font-size: 3.3125rem;
  text-align: center !important;
  margin: 80px 0 30px 0;
}
h3 {
  margin-top: 0.9rem;
}
img {
  width: 100%;
  max-height: auto;
}
.wfrowmin {
  margin-bottom: 85px;
}
.text-wfrowmin {
  background: rgba(255,255,255,0.89);
  padding-left: 10px;
  padding-bottom: 20px;
  padding: 5px 20px 25px 25px;
}
a {
  font-size: 18px;
  color: #333;
  line-height: 28px;
  text-decoration: none;
  margin-bottom: 20px;
  font-weight: 600;
}
p {
  color: #777;
  padding-bottom: 20px;
  line-height: 1.714;
  font-size: 15px;
  margin-bottom: 20px;
  padding: 0;
}
.button:hover {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #106EAA;
  border-color: #106EAA;
  color: #fff;
}
.button {
  font-size: 11px;
  padding: 0.9rem 1.9rem 0.9rem 1.7rem;
  background: transparent;
  border: 1px solid #cfcfd0;
  transition: .4s;
  text-transform: uppercase;
  margin: 0 0 1.25rem;
  text-decoration: none;
  margin-bottom: 2px;
  color: #555;
}
.mb_50 {
  margin-bottom: 50px;
}
.mtb_10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.owl-nav {
  position: absolute;
  top: -50px;
  width: 100%;
}
.offers .owl-nav {
  position: absolute;
  right: 0px;
  top: 11px;
  width: 100%;
}
.related-pro .owl-nav,
.team_grid .owl-nav {
  position: absolute;
  right: 10px;
  top: -55px;
  width: 100%;
}
.owl-nav>div {
  background: rgba(0,0,0,0) url("../images/sprite.png") no-repeat scroll -34px -374px;
  height: 23px;
  width: 17px;
  font-size: 0px;
  position: absolute;
  transition: 0.5s;
}
.owl-nav>div:hover {
  border-color: #e40001;
}
.owl-item .client-avatar>img {
  border-radius: 50%;
  width: auto !important;
}
.owl-nav .owl-prev {
  background-position: -6px -374px;
  opacity: 1;
  right: 33px;
}
.owl-nav .owl-prev:hover {
  background-position: -6px -402px;
  transition: 0.5s;
}
.owl-nav .owl-next {
  left: auto;
  opacity: 1;
  right: 0;
}
.owl-nav .owl-next:hover {
  background-position: -34px -402px;
  transition: 0.5s;
}
.client .owl-dots {
  right: 0;
  position: absolute;
  text-align: center;
  bottom: 15px;
}
.client .owl-dot {
  display: block;
  line-height: 1;
}
.client .owl-dot>span {
  background: rgba(0,0,0,0.2) none repeat scroll 0 0;
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  height: 14px;
  margin: 4px;
  width: 14px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .about-title {
    font-size: 40px;
    line-height: 55px;
  }
}
@media (max-width: 991px) {
  #product-tab .owl-nav {
    top: -79px;
  }
  #product-tab .nav {
    right: auto;
    top: 47px;
  }
}
@media (max-width: 767px) {
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (max-width: 360px) {
  .header-top-left li,
  .header-top-right li {
    padding: 0 10px;
  }
  .nav>li>a {
    padding: 6px;
  }
  .newsletters input {
    width: 150px;
  }
}
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0px,0px,0px);
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  line-height: 24px;
  color: #494b4c;
  font-size: 14px;
  font-family: 'Josefin+Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  background-image: url(../images/oil.jpg) !important;
}
h2 {
  font-weight: 400;
  margin: 0;
  color: #ffffff;
  font-size: 3.3125rem;
  text-align: center !important;
  margin: 80px 0 30px 0;
}
h3 {
  margin-top: 0.9rem;
}
img {
  width: 100%;
  max-height: auto;
}
.wfrowmin {
  margin-bottom: 85px;
}
.text-wfrowmin {
  background: rgba(255,255,255,0.89);
  padding-left: 10px;
  padding-bottom: 20px;
  padding: 5px 20px 25px 25px;
}
a {
  font-size: 18px;
  color: #333;
  line-height: 28px;
  text-decoration: none;
  margin-bottom: 20px;
  font-weight: 600;
}
p {
  color: #777;
  padding-bottom: 20px;
  line-height: 1.714;
  font-size: 15px;
  margin-bottom: 20px;
  padding: 0;
}
.button:hover {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #106EAA;
  border-color: #106EAA;
  color: #fff;
}
.button {
  font-size: 11px;
  padding: 0.9rem 1.9rem 0.9rem 1.7rem;
  background: transparent;
  border: 1px solid #cfcfd0;
  transition: .4s;
  text-transform: uppercase;
  margin: 0 0 1.25rem;
  text-decoration: none;
  margin-bottom: 2px;
  color: #555;
}
.mb_50 {
  margin-bottom: 50px;
}
.mtb_10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.owl-nav {
  position: absolute;
  top: -50px;
  width: 100%;
}
.offers .owl-nav {
  position: absolute;
  right: 0px;
  top: 11px;
  width: 100%;
}
.related-pro .owl-nav,
.team_grid .owl-nav {
  position: absolute;
  right: 10px;
  top: -55px;
  width: 100%;
}
.owl-nav>div {
  background: rgba(0,0,0,0) url("../images/sprite.png") no-repeat scroll -34px -374px;
  height: 23px;
  width: 17px;
  font-size: 0px;
  position: absolute;
  transition: 0.5s;
}
.owl-nav>div:hover {
  border-color: #e40001;
}
.owl-item .client-avatar>img {
  border-radius: 50%;
  width: auto !important;
}
.owl-nav .owl-prev {
  background-position: -6px -374px;
  opacity: 1;
  right: 33px;
}
.owl-nav .owl-prev:hover {
  background-position: -6px -402px;
  transition: 0.5s;
}
.owl-nav .owl-next {
  left: auto;
  opacity: 1;
  right: 0;
}
.owl-nav .owl-next:hover {
  background-position: -34px -402px;
  transition: 0.5s;
}
.client .owl-dots {
  right: 0;
  position: absolute;
  text-align: center;
  bottom: 15px;
}
.client .owl-dot {
  display: block;
  line-height: 1;
}
.client .owl-dot>span {
  background: rgba(0,0,0,0.2) none repeat scroll 0 0;
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  height: 14px;
  margin: 4px;
  width: 14px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .about-title {
    font-size: 40px;
    line-height: 55px;
  }
}
@media (max-width: 991px) {
  #product-tab .owl-nav {
    top: -79px;
  }
  #product-tab .nav {
    right: auto;
    top: 47px;
  }
}
@media (max-width: 767px) {
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (max-width: 360px) {
  .header-top-left li,
  .header-top-right li {
    padding: 0 10px;
  }
  .nav>li>a {
    padding: 6px;
  }
  .newsletters input {
    width: 150px;
  }
}
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0px,0px,0px);
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
